# compiled output
/dist
/node_modules
/build

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env.*.local

# python audio-server
services/audio-server/venv/
services/audio-server/__pycache__/

# temp
/tmp
*.tmp
Текстовый документ.txt
*.ogg
*.wav

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# test
/coverage
/.nyc_output
